<p>Hello <% name %>,</p>
<p>Thank you for your interest in receiving a quote from Tedesco Group.</p>
<p>The next step is to schedule an introductory phone call to discuss the scope of the project you have in mind. Please let us know when you are available and we will send you a calendar invitation.</p>
<p>We are looking forward to hearing from you!</p>

<p>Thank you,</p>
<p>Ester Lastname</p>
<p>Secretary</p>
<p>Tedesco Group</p>