.carousel {
    position: relative;
    display: flex;
    width: 100%;
    overflow-x: hidden;
}

.testSlide {
    height: 100%;
    max-width: 828px;
    padding: 64px 56px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    background-color: #F0F0F0;
    align-items: center;
    box-shadow: 4px 4px 4px rgba(22, 22, 22, 0.15);
    border-radius: 5px;
}

.quote {
    font-size: 4rem;
    color: #191970;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.testBtn {
    font-size: 3rem;
    color: #8A8A8A;
}

.testText {
    text-align: center;
    color: #161616;
    font-size: 20px;
    line-height: 30px;
}

.name {
    font-size: 28px;
    font-weight: 700;
    color: #161616;
}

@media (max-width: 810px) {
    .testBtn {
        display: none;
    }

    .testSlide {
        padding: 3rem;
    }

    .name {
        text-align: center;
    }
}