.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 100vw;
    height: 132px;
    z-index: 100;
    padding: 0 5rem;
    background-color: black;
    border-bottom: 3px solid #F7CC70;
}

.logo {
    width: 6rem;
    padding: 1rem 0 1.25rem 0;
    
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.hamburger {
    display: none;
}

.dropdownMenu {
    display: flex;
    list-style: none;
    gap: 3rem;
    font-size: 1.7rem;
    line-height: 1rem;
    justify-content: flex-start;
    
}

.navLink {
    text-decoration: none;
    color: #F7CC70;
}

@media screen and (max-width: 1024px) {
    .logo {
        padding: 1rem 0;
    }
}

@media screen and (max-width: 900px) {
    .header {
        height: fit-content;
        padding: 0 1rem;
    }
    .nav {
        align-items: flex-end;
        justify-content: center;
    }

    .logo{
        width: 4rem;
    }

    .hamburger {
        display: inline-block;
        position: absolute;
        top: 2rem;
        background: none;
        border: none;
        font-size: 2.5rem;
        cursor: pointer;
        z-index: 8;
    }

    .dropdownMenu {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 3rem 0 2rem 0;
        gap: 2.3rem;
        font-size: 1.5rem;
        transition: all .4s ease-out !important;
        max-height: 0px;
        opacity: 0;
        overflow-y: hidden;
        width: 100%;
    }

    .dropdownMenu.menuOpen {
        max-height: 475px !important;
        padding-top: 6rem;
        opacity: 1;
        background-color: black;
        overflow-y: unset;
    }
}

@media screen and (max-width: 380px) {
    .logo {
        width: 3rem;
    }

    .hamburger {
        top: 1rem;
    }
}