.heading {
    position: relative;
    padding: 0 0 1rem 0;
    text-align: center;
}

.desc {
    font-size: 26px;
    color: #F7CC70;
    font-weight: 500;
    padding: 0.5rem;
}

.backBtn {
    position: absolute;
    top: 0;
    left: 0;
    color: black;
}

.gallery {
    max-width: 1300px;
    margin: 3rem auto;
    background-color: black;
    padding: 2rem 3rem 1rem 3rem;
    /* border: 1px solid #F7CC70; */
    border-radius:5px;
}

@media (max-width: 810px) {
    .container {
        padding: 0 1rem;
    }

    .heading {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .backBtn {
        padding: 3px 7px;
        position: unset;
    }

    .gallery {
        padding: 1rem;
    }
}