.contianer {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    margin-bottom: 7rem;
}

.headingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    height: 500px;
    overflow-y: hidden;
}

.headingImg {
    width: 100%;
    position: absolute;
    align-self: center;
    justify-self: center;
    z-index: 0;
}

.firstSection {
    max-width: 800px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.secondSection {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
}

.wwdCont>ul {
    column-count: 2;
    list-style-type: disc;
}

.wwdCont>ul>li {
    font-size: 20px;
    line-height: 30px;
    padding-top: .4rem;
} 

.formContainer {
    width: 450px;
    margin: 0 auto;
    border:3px solid #f3b52f;
    padding: 2.5rem;
}

@media (max-width: 810px) {
    .contianer {
        padding: 0 1rem;
    }

    .headingContainer {
        overflow-x: hidden;
    }

    .headingImg {
        width: 300%;
    }

    .secondSection {
        flex-direction: column-reverse;
        align-items: center;
    }

    .wwdCont {
        width: 100%;
    }

    .wwdCont>h2 {
        text-align: center;
    }

    .formContainer {
        width: 97%;
        padding: 1rem;
    }
}